/************************** Custom ***************************/
:root {
  --color-green950: rgba(7, 14, 8, 1);
  --color-green900: rgba(19, 32, 21, 1);
  --color-green800: rgba(32, 45, 32, 1);
  --color-green700: rgba(53, 75, 59, 1);
  --color-green600: rgba(71, 94, 79, 1);
  --color-green500: rgba(98, 130, 104, 1);
  --color-green400: rgba(168, 190, 172, 1);
  --color-green300: rgba(205, 218, 207, 1);
  --color-green200: rgba(226, 233, 227, 1);
  --color-green100: rgba(243, 246, 245, 1);
  --color-green50: rgba(248, 251, 250, 1);

  --color-orange400: rgba(255, 117, 72, 1);
  --color-orange300: rgba(255, 157, 113, 1);
  --color-orange200: rgba(255, 197, 168, 1);
  --color-orange100: rgba(255, 228, 212, 1);
  --color-orange50: rgba(255, 243, 237, 1);

  --color-white: rgba(255, 250, 247, 1);
  --color-gray950: rgba(9, 10, 11, 1);
}
/************************** CSS Reset *************************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1,
h2 {
  line-height: 1.25;
}
p,
li {
  text-wrap: pretty;
}
img,
svg {
  display: block;
  width: 100%;
  height: auto;
}
label {
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}
textarea {
  resize: none;
  min-height: 4lh;
}
legend {
  padding: 0;
}
select,
::picker(select) {
  appearance: base-select;
}
/*********************************/
body {
  background-color: var(--color-white);
  color: var(--color-gray950);
}
article {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 6rem;
  margin-inline: auto;
  padding: 0 1rem 2rem;
}
h1 {
  font-family: "Lexend Exa";
  font-weight: 700;
  font-size: 64px;
}
h2 {
  font-family: "Lexend Exa";
  font-weight: 700;
  font-size: 48px;
  max-width: 20ch;
}
h3 {
  font-family: "Lexend Exa";
  font-weight: 400;
  font-size: 40px;
}
p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  max-width: 65ch;
}
p.btn {
  font-family: "Lexend Exa";
  font-weight: 600;
  font-size: 30px;
}

/*BTN*/
.cta-btn {
  display: block;
  font-family: "Lexend Exa";
  font-weight: 600;
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  height: min-content;
  width: fit-content;
  align-content: center;
  padding: 12px 2rem;
  background-color: var(--color-orange400);
}
.btn-left {
  place-self: end;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.btn-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/************************* Hero slideshow *****************************/
.slide-wrapper {
  position: relative;
  margin: 0 0 2rem;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
}
.display-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: space-around;
  text-align: center;
  padding-inline: 2.5rem;
  z-index: 2;
}
.sliding-background {
  background: url(/assets/carrousel.webp) repeat-x;
  background-size: contain;
  height: 600px;
  width: 5000px;
  animation: slide 60s linear infinite;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3200px, 0, 0);
  }
}
h1.display {
  font-family: "DM Sans";
  font-weight: 600;
  font-size: clamp(6.25rem, 3.8rem + 11.2vw, 8rem);
  text-transform: uppercase;
  width: 100%;
  color: var(--color-white);
  line-height: 1.65;
}
/*******************banner**************************/
.banner {
  background-color: var(--color-green700);
  color: var(--color-white);
  max-width: 100%;
  margin: 0 0 6rem;
}
.banner1 {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  height: 350px;
  max-width: 1200px;
  margin-inline: auto;
  background: url(../assets/1udaf5.png) no-repeat left bottom;
  background-size: max(600);
  justify-content: center;
  padding-top: 4rem;
}
.banner2 {
  display: grid;
  grid-template-rows: min-content;
  gap: 2rem;
  max-width: 1000px;
  margin-inline: auto;
  height: 600px;
  padding: 4rem 0 0 1rem;
  background: url(../assets/maskoff.png) no-repeat left bottom;
  background-size: max(600px);
  h2 {
    max-width: 12ch;
  }
  p {
    font-size: 20px;
  }
}
/********** Post it's ***************/
.np {
  padding: 0;
}
.p-1 {
  padding: 0 1.5rem;
}
/******************** Teamet *********************/
.teamet {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  max-width: 320px;
  a {
    font-family: "Open Sans";
    color: var(--color-gray950);
  }
}
/********************** Layout **************************/
@media (min-width: 618px) {
  .banner2 {
    background-position-x: right;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 700px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .banner2 {
    p {
      max-width: 30ch;
      text-align: end;
      font-size: 24px;
    }
  }
}
@media (min-width: 1000px) {
  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid_2-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flex-span {
    display: flex;
    grid-column: span 3;
    justify-content: space-around;
  }
}
